@font-face {
  font-family: "Futura Std Book";
  src: url("../fonts/FontsFree-Net-FuturaStd-Book.ttf");
}

.landing-intro {
  background: url("../image/landing-header.png");
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-color: rgb(3, 134, 255);
}

.landing-header::after,
.landing-header::before {
  display: table;
  content: " ";
}

.logo-img {
  filter: invert(1);
  width: 9.5em;
}

h1,
p {
  font-family: Futura Std Book !important;
}

.landing-about {
  background-image: url("../image/dots-copy.png");
  background-repeat: no-repeat;
  background-position-y: 23.5em;
  background-size: 42%;
}

.service-card-list > li {
  font-size: 1em;
  font-weight: 500;
  line-height: 35px;
  margin: 0;
  color: #1d2127;
  padding-top: 3px;
  font-family: "Futura Std Book" !important;
}
